.container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  flex-direction: row-reverse;
  width: 100%;
  padding: 5px 20px 5px 20px;
  transition: 0.4s ease-in-out all;
  justify-content: space-between;
  align-items: center;

  &.isSelected {
    background-color: #e6f2ff;
  }

  &.isHighlighted {
    background-color: #c3e0ff;
  }

  &.isBot {
    flex-direction: row;

    .content {
      .message {
        position: relative;
        border-radius: 12px 12px 12px 0px;
        background: #fff;
        color: #242424 !important;
        text-align: left !important;

        .more {
          position: absolute;
          right: 10px;
          left: auto;

          cursor: pointer;
          color: #616161;

          .pin_icon {
            path {
              stroke: #616161;
              fill: #616161;
            }
          }

          .command_context {
            .commands {
              min-height: 152px;
              left: 0;
              right: auto;
            }
          }
        }

        p {
          text-align: justify;
        }

        h1 {
          font-size: 24px;
          line-height: 32px;
          margin: 20px 0;
        }

        h2 {
          font-size: 22px;
          line-height: 30px;
          margin: 10px 0;
        }

        h3 {
          font-size: 20px;
          line-height: 28px;
          margin: 5px 0;
        }

        h4 {
          font-size: 18px;
          line-height: 26px;
          margin: 3px 0;
        }

        h5,
        h6 {
          font-size: 16px;
          line-height: 24px;
          margin: 2px 0;
        }
      }
    }
  }

  .author {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .content {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: transparent;

    .reply {
      border-radius: 3px;
      background: #6463af;

      padding-left: 8px;
      border-left: 4px solid #434ae9;
      display: flex;
      height: 48px;
      padding-right: 25px;
      align-items: center;
      margin-bottom: 15px;

      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        text-align: left;
      }
    }

    .message {
      border-radius: 12px 12px 0px 12px;
      background: #8887d1;
      color: #fff !important;
      padding: 22px 32px !important;
      text-align: left !important;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
      position: relative;

      &:hover {
        .more {
          display: block;
          .more_icon {
            display: block;
          }
        }
      }

      .more {
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
        color: #fff;
        background-color: transparent;
        border: none;
        outline: none;
        z-index: 9;

        .more_icon,
        .pin_icon {
          font-size: 14px;
        }

        .more_icon {
          display: none;
        }

        .more_icon.isOpened {
          display: block;
        }

        .pin_icon {
          path {
            stroke: #fff;
            fill: #fff;
          }
        }

        &:hover {
          .commands {
            display: block !important;
          }
        }

        .command_context {
          position: relative;
          z-index: 10;

          .commands {
            position: absolute;
            top: 0;
            right: 0;
            // display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            border-radius: 10px;
            border: 1px solid #0177fb;
            background: #fff;
            box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.1),
              0px 27px 27px 0px rgba(0, 0, 0, 0.09),
              0px 62px 37px 0px rgba(0, 0, 0, 0.05),
              0px 110px 44px 0px rgba(0, 0, 0, 0.01),
              0px 171px 48px 0px rgba(0, 0, 0, 0);
            overflow: hidden;

            .command {
              width: 171px;
              height: 30px;
              display: flex;
              align-items: center;
              padding: 0 15px;
              gap: 12px;
              cursor: pointer;

              color: #616161;
              font-size: 12px;
              font-weight: 500;
              border-bottom: 1px solid #f6f5f8;

              &:hover {
                background: #f6f5f8;
              }
            }
          }
        }
      }

      .codeContainer {
        position: relative;
        width: 100%;

        .copyBtn {
          position: absolute;
          top: 2px;
          right: 5px;
          z-index: 2;
          cursor: pointer;
          width: 40px;
        }
      }

      .questions {
        margin: 15px 0 0 0;
        padding: 0;
        list-style: none;

        li {
          color: var(--primary-color);
          font-size: 16px;
          margin: 5px 0;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .time {
      color: #616161;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
