.container {
  width: 100%;
  position: sticky;
  top: 0;
  transition: 0.4s ease-in-out all;
  z-index: 9;
  height: 0;
  opacity: 0;

  &.open.isExpanded {
    height: auto;
    background: #3b455e;

    ul {
      li {
        line-height: 22px;

        span {
          width: 96%;
          overflow: hidden;
          display: flex;
          overflow: scroll;
          // height: 150px;
          max-height: 150px;
          overflow-y: scroll;
          overflow-y: scroll;
          overflow-x: visible;
          padding: 10px 0;

          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius: 8px;
            width: 2px;
          }
        }
      }
    }
  }

  &.open {
    height: 30px;
    opacity: 1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: 0.4s ease-in-out all;
    height: auto;

    li {
      svg {
        path {
          stroke: #fff;
        }
      }
      position: relative;

      background: #3b455e;
      transition: 0.4s ease-in-out all;
      width: 100%;

      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      transition: none;

      span {
        width: 96%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }
}
