.table {
  width: 100%;
  // overflow: scroll;
  overflow-x: auto;

  table {
    thead {
      tr {
        th {
          text-align: left;
          border-bottom: 1px solid #e2e2e2;
          padding: 10px 16px;
          color: #6a69c6;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          background-color: #fff;
          text-transform: uppercase;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid #e2e2e2;
          min-width: 20%;
          padding: 10px 16px;
          color: #616161;

          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
